In [378]:
#Import dependencies
import pandas as pd
import numpy as np

In [379]:
# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)

In [419]:
#Get a sense of the file
purchase_data_df.set_index('Purchase ID').head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [451]:
# A.PLAYER COUNT
#a1. Total Number of Players
player_count = len(purchase_data_df['SN'].unique())
player_count

576

In [421]:
#B. PURCHASING ANALYSIS(TOTAL)

In [502]:
# B1. Number of Unique Items
number_items = len(purchase_data_df["Item ID"].unique())
number_items

183

In [503]:
#b2. Average Purchase Price
avg_price = round(purchase_data_df["Price"].mean(), 2)
avg_price

3.05

In [504]:
#b3. Total Number of Purchase
total_purchases = purchase_data_df["Purchase ID"].count()
total_purchases

780

In [505]:
#b4. Total Revenue
total_revenue = round(total_purchases * avg_price, 2)
total_revenue

2379.0

In [506]:
purchasing_analysis_total =  pd.DataFrame({"Total Unique Items": [number_items],
                                  "AVG. Purchase Price ": [avg_price],
                                  "Total Purchases": [total_purchases],
                                  "Total Revenue": [total_revenue]})

print('Purchasing Analysis')
print('_______________________________________________________________________________')

print(purchasing_analysis_total)

Purchasing Analysis
_______________________________________________________________________________
   Total Unique Items  AVG. Purchase Price   Total Purchases  Total Revenue
0                 183                  3.05              780         2379.0

In [507]:
#C. Gender Demographics
#c1.Male
avg_total_male_df = purchase_data_df.loc[purchase_data_df["Gender"] == 'Male']
total_male_purchasers = len(avg_total_male_df.SN.unique())
male_per = total_male_purchasers/player_count
print(total_male_purchasers)
print(round(male_per*100,2))
#c2. Female
avg_total_female_df = purchase_data_df.loc[purchase_data_df["Gender"] == 'Female']
total_female_purchasers = len(avg_total_female_df.SN.unique())
female_per = total_female_purchasers/player_count
print('----')
print(total_female_purchasers)
print(round(female_per *100,2))
#c3. Other
avg_total_other_df = purchase_data_df.loc[purchase_data_df["Gender"] == 'Other / Non-Disclosed']
total_other_purchasers = len(avg_total_other_df.SN.unique())
other_per = total_other_purchasers/player_count
print('----')
print(total_other_purchasers)
print(round(other_per *100,2))

484
84.03
----
81
14.06
----
11
1.91

In [508]:
#d1. Purchase Count per Gender
purchase_count = purchase_count= purchase_data_df['Gender'].value_counts()
purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [509]:
#d2. Avg purchase price
grouped_gender_df = purchase_data_df.groupby("Gender")
grouped_gender_df.Price.mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [510]:
#d3. Total Purchase Value
grouped_gender_df.Price.sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [511]:
#d4. Average Purchase Total per Person by gender
#a. Male
print(round(1967.64/total_male_purchasers,2))
#b. Female
print(round(361.94/total_female_purchasers,2))
#c. Other
print(round(50.19/total_other_purchasers, 2))

4.07
4.47
4.56

In [512]:
#E.Age Demographics

In [513]:
# Find the range of Age for binnung
purchase_data_df.Age.max()

45

In [514]:
purchase_data_df.Age.min()

7

In [515]:
bins=(0,9,14,19,24,29,34,39,45)
group_labels = ["0 > 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34",
               "35 to 39", "40 to 45"]
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

0    20 to 24
1    40 to 45
2    20 to 24
3    20 to 24
4    20 to 24
Name: Age, dtype: category
Categories (8, object): [0 > 10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40 to 45]

In [516]:
purchase_data_df["Age_Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 to 45
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [517]:
#1. Purchase_count
age_purchase_count = age_df.groupby(["Age_Group"])["Purchase ID"].count()

In [518]:
#2. Avg purchase price
age_purchase_price = age_df.groupby(["Age_Group"])["Price"].mean()

In [519]:
#3. Total Purchase Value
age_purchase_value = age_df.groupby(["Age_Group"])["Price"].sum()

In [520]:
#4. Avg Purchase total per person
age_pp = age_df.groupby(["Age_Group"])["SN"].nunique()
age_purchase_value/age_pp

Age_Group
0 > 10      4.537059
10 to 14    3.762727
15 to 19    3.858785
20 to 24    4.318062
25 to 29    3.805195
30 to 34    4.115385
35 to 39    4.763548
40 to 45    3.186667
dtype: float64

In [521]:
#Summary Table
age_table = pd.concat([age_purchase_count, round(age_purchase_price,2), age_purchase_value, round(age_purchase_value/age_pp,2)], axis=1)
age_table.columns = ['Purchase Count',  '($) AVG Purchase Price',  '($) Total Purchase Value',  '($) AVG Total Purchase Per Person']
age_table

,Purchase Count,($) AVG Purchase Price,($) Total Purchase Value,($) AVG Total Purchase Per Person
Age_Group,,,,
0 > 10,23,3.35,77.13,4.54
10 to 14,28,2.96,82.78,3.76
15 to 19,136,3.04,412.89,3.86
20 to 24,365,3.05,1114.06,4.32
25 to 29,101,2.90,293.00,3.81
30 to 34,73,2.93,214.00,4.12
35 to 39,41,3.60,147.67,4.76
40 to 45,13,2.94,38.24,3.19

In [522]:
#F. Top Spenders
purchase_data_df['Item ID'].nunique()

183

In [523]:
#Groupby SN and break down
ts_spenders = purchase_data_df.groupby('SN')
ts_purchase_count = ts_spenders['Purchase ID'].nunique()
ts_average_purchase_price = ts_spenders['Price'].mean()
ts_total_purchase_value = ts_spenders['Price'].sum()

In [524]:
# create columns
ts_spender_table = pd.concat([ts_purchase_count, ts_average_purchase_price, ts_total_purchase_value], axis=1)
ts_spender_table.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
ts_spender_table.sort_values(['Total Purchase Value'], ascending = False, inplace=True)

In [525]:
#format table
ts_spender_table["Average Purchase Price"] = ts_spender_table["Average Purchase Price"].map("${:.2f}".format)
ts_spender_table["Total Purchase Value"] = ts_spender_table["Total Purchase Value"].map("${:.2f}".format)
ts_spender_table.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [526]:
#H. MOST PROFITABLE ITEMS(note: changed order with G.)
#Groupby Item Name and break down
profitable_items = purchase_data_df.groupby('Item Name')
item_id = profitable_items['Item ID'].unique()
item_name = profitable_items['Item Name'].nunique() 
item_purchase_count = profitable_items['Purchase ID'].count()
item_price = profitable_items['Price'].mean()
item_purchase_value = profitable_items['Price'].sum()

In [527]:
#create table
item_table = pd.concat([item_id, item_purchase_count, item_price, item_purchase_value], axis=1)
item_table.columns = ['Item ID', 'Purchase Count', 'Item Price', 'Total Purchase Value']
item_table.sort_values(['Total Purchase Value'], ascending = False, inplace=True)
#item_table = item_table.drop_duplicates(subset='Item ID', keep='first')

In [528]:
#Format table
item_table["Item Price"] = item_table["Item Price"].map("${:.2f}".format)
item_table["Total Purchase Value"] = item_table["Total Purchase Value"].map("${:.2f}".format)
item_table.head()

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,"[92, 101]",13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",[178],12,$4.23,$50.76
Nirvana,[82],9,$4.90,$44.10
Fiery Glass Crusader,[145],9,$4.58,$41.22
Singed Scalpel,[103],8,$4.35,$34.80

In [529]:
#G. Most Popular Items
item_table.sort_values(['Purchase Count'], ascending = False, inplace=True)
item_table.head()

,Item ID,Purchase Count,Item Price,Total Purchase Value
Item Name,,,,
Final Critic,"[92, 101]",13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",[178],12,$4.23,$50.76
Nirvana,[82],9,$4.90,$44.10
Fiery Glass Crusader,[145],9,$4.58,$41.22
"Extraction, Quickblade Of Trembling Hands",[108],9,$3.53,$31.77